.image-container {
    position: relative;
    text-align: center;
    display: inline-block;
}

.image-text {
    position: absolute;
    bottom: 20px; /* Distância do texto até a parte inferior da imagem */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    width: 80%; /* Largura do texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
    padding: 20px; /* Espaçamento interno do texto */
}


/* CSS para a seção "Sobre o Wiki" */
.container.mt-5 {
    margin-top: 3rem !important;
}

.container h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #635c5c;
}

.container p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.container ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #555;
}

/* CSS para o footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    color: #777;
}